@{
    ViewData["Title"] = "About Orchestra Management ";
}

<head>
    <style type="text/css">
        .featureList {
            border: dashed 2px black;
            background-color: rgba(215, 31, 31, 0.75);
            border-radius: 25px;
            color: white;
        }

        .featureList li {
            list-style: square;
            padding: 15px;
            font-size: 16px;
        }

        .featureList span {
            font-weight: bold;
            text-decoration: underline;
        }
    </style>
</head>

<h2>@ViewData["Title"]</h2>

<hr />

<h3>Orchestra Management Features</h3>

<br />

<ul class="featureList">
    <li>This application is designed to <span>manage</span> and <span>track</span> orchestras. The application’s features are designed to do this management easily and effectively. </li>
    <li><span>The Title Bar</span> - This feature is visible on all pages and can be accessed by clicking the words to each section. The Home link takes the user to the Home page and has the list of orchestras on it. The Manage Orchestra link takes you to the Manager Orchester page which helps you in any way to manager the orchestras on the page. The About link takes the user to the About page which gives a brief description about each feature. The Developer link takes the user to the Developer page which gives a brief description about the developer of this application and how to contact the developer via email.</li>
    <li><span>Home Page</span> - This application allows the user to manage orchestras. The page displays a list of orchestras that shows each orchestra’s name, website URL, number of musicians in the orchestra, and displays the number of orchestras. There is also a link to the orchestra’s Details page. displays the number of orchestras.</li>
    <li><span>Manage Orchestras</span> - This page, allow the user to manage orchestras. It displays a list of orchestras that shows each orchestra’s information. Also, on this page it gives the number of musicians and gives links to Edit, Details, and Delete them. This page also allows the user to go back to the home page.</li>
    <li><span>Create Orchestra</span> - This page allows the user to enter an orchestra’s information. This information includes, the Orchestra’s name, address, city, state, zip code, and website URL. This site also allows the user to go back to list of orchestras</li>
    <li><span>Edit Orchestra</span> - This page allows the user to edit an orchestra’s data, except for the Id. The page also allows the user to go back to the orchestra’s manager page. </li>
    <li><span>Orchestra Details</span> - This page shows the user the orchestra’s information and the number of musicians. It also has a list of musicians in this orchestra and all their information. There is also links to edit, details, and delete pages for the musician here. The user will be able to create a musician, edit the orchestra, and go back to the list of orchestras.</li>
    <li><span>Delete Orchestra</span> - page confirms that the user wants to delete the orchestra they select and all its musicians. If user confirms the delete the orchestra’s data is deleted from the database along with its musicians. The user can also go back to the list of orchestras from this page.</li>
    <li><span>Create Musician</span> - This page allows the user to enter a musician’s data which is their name, section, and whether they are a section leader or not. This page also allows the user to go back to the orchestra’s details page.</li>
    <li><span>Edit Musician</span> - This page presents a form that allows the user to update a musician’s data excluding any ids. Also, it allows the user to go back to the orchestra’s details page. </li>
    <li><span>Musician Details </span> - This page output a musician’s information including its Id. It also output the list of instruments for this musician and all the instruments information. This page has a edit and delete links for the instrument as well. The page allows the user to create an instrument, edit this musician, and go back to the orchestra’s details page.</li>
    <li><span>Delete Musician </span> - ThisMusician page confirms if the user wants to delete this musician. If the user confirms the deletion the musician is deleted from the database. The user is also allowed to go back to the orchestra’s details page. </li>
    <li><span>Edit Musician</span> - This page presents a form that allows the user to update a musician’s data excluding any ids. Also, it allows the user to go back to the orchestra’s details page. </li>
    <li><span>Create Instrument</span> - This page allows the user to enter an instrument’s data, serial number, description, maintenance date, and condition. Also allows the user to go back to the musician’s details page.</li>
    <li><span>Edit Instrument </span> - This page present a form that allows the user to update an instrument’s data. </li>
    <li><span>Delete Instrument </span> - This page confirms that the user wants to delete the instrument they are on. If the user confirms this then the instrument is deleted from the database. This page also allows the user to go back to the musician’s details page.</li>
</ul>