@{
    ViewData["Title"] = "About The Developer";
}

<head>
    <style type="text/css">
        .featureList {
            border: dashed 2px black;
            background-color: rgba(215, 31, 31, 0.75);
            border-radius: 25px;
            color: white;
            font-size: 16px;
            padding: 15px;
        }
    </style>
</head>
<hr />
<h2>@ViewData["Title"]</h2>
<br />
<ul class="featureList">

    Hello, my name is James Austin Funderburke and I’m the developer of this application. I am an enthusiastic problem-solving technical individual, focused on moving forward and helping others in the process of obtaining a goal. I have technical ability working in various languages and technologies in development, data analytics, and networking. I have an enthusiasm to learn and to interact, a drive to succeed, a skill set with technology, and an unparalleled work ethic. Please contact me if you have any questions, conserns, or issues with this site. I hope you enjoy the sight!
</ul>



    <address>
        <u><strong>Developer Contact Information</strong></u>
        <br />
        <strong>Primary E-Mail:</strong> <a href="mailto:FunderburkeJ@etsu.edu">FunderburkeJ@etsu.edu</a><br />
        <strong>Secondary E-Mail:</strong> <a href="mailto:JAFunderburke77@gmail.com">JAFunderburke77@gmail.com</a>
    </address>
